

.holder {
    background: #fff;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  h1{
    text-align:center;
  }
  
  ul li {
    padding: 20px;
    font-size: 1.3em;
    background-color: #E0EDF4;
    border-left: 5px solid #3EB3F6;
    margin-bottom: 2px;
    color: #3E5252;
  }

  p {
    text-align:center;
    padding: 5px 0;
    color: gray;
    font-size:30px;
  }

  .container {
    box-shadow: 0px 0px 40px lightgray;
  }

  input {
    width: calc(100% - 40px);
    border: 0;
    padding: 20px;
    font-size: 1.3em;
    background-color: #323333;
    color: #687F7F;
  }

  .task-effect-enter-active{
    animation: bounce-in .5s;
  }
  .task-effect-leave-active{
    animation: bounce-in .5s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .trash.fa, .check.fa{
    font-size:25px;
    color:white;
  }
  button{
    float:right;
    background-color: green;
    margin:5px;
  }
  button.trash{
    background-color: red;
  }

  .favorite{
    color: yellow;
  }